body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    z-index: 1000; /* Ensures header is on top */
}

header .navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Black background with 80% opacity */
}

header .navbar .navbar-brand .logo {
    height: 35px; /* Adjust the logo height as needed */
    max-width: 100%; /* Ensure logo scales properly */
}

header .navbar-nav .nav-link {
    color: #ffffff; /* White text for the navigation links */
    font-weight: bold; /* Make the text bold */
    font-size: 20px; /* Increase the text size */
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5); /* Gray text shadow with 50% opacity */
}

header .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Light gray text on hover */
}

header .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Light gray border for the toggle button */
}

header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Hide the close button in the CSS; it's handled by the menu toggle */
.btn-close-navbar {
    display: none;
}

.navbar-collapse {
    transition: max-height 0.35s ease;
}

/* Additional responsiveness */
@media (max-width: 992px) {
    header .navbar-nav .nav-link {
        font-size: 18px; /* Adjust font size for medium screens */
    }
}

@media (max-width: 768px) {
    header .navbar {
        padding: 0.5rem 1rem; /* Reduce padding for small screens */
    }

    header .navbar-nav .nav-link {
        font-size: 16px; /* Adjust font size for small screens */
    }

    .navbar-collapse {
        overflow: hidden;
        max-height: 0; /* Hide menu by default */
    }

    .navbar-collapse.show {
        max-height: 500px; /* Adjust according to your menu height */
    }
}

@media (min-width: 993px) {
    .btn-close-navbar {
        display: none; /* Hidden on larger screens */
    }
}
